extends layout 


block content
    .joinclub-box
        .form-title-box
            h1= title 
        p Input the correct passphrase to gain full member status
        form(action="" method="POST")
            .form-group
                label(for="passphrase")
                input#passphrase(type="text" name="passphrase" required="true" placeholder="Passphrase")
            button Submit
        if errors 
            ul 
                each error in errors 
                    li!= error.msg