doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav 
      ul.nav-ul 
        if currentUser 
          li
            a(href="/logout") Logout
          li
            a(href="/joinclub") Join the Club
        else 
          li 
            a(href="/signup") Signup
          li 
            a(href="/login") Login
    block content
