extends layout 

block content
    .login-box
        .form-title-box
            h1= title 

        form(action="" method="POST")
            .form-group
                label(for="email")
                input#email(type="email" name="email" required="true" placeholder="Email")
            .form-group 
                label(for="password")
                input#password(type="password" name="password" required="true" placeholder="Password")
            button Log In
