extends layout 

block content
    .signup-box
        .form-title-box
            h1= title
        p Please fill this form to create an account
        form(action="" method="POST")
            .form-fullname
                .form-group 
                    label(for="first_name")
                    input#first_name(type="text" name="first_name" required="true" placeholder="First Name")
                .form-group 
                    label(for="last_name")
                    input#last_name(type="text" name="last_name" required="true" placeholder="Last Name")
            .form-group 
                label(for="email")
                input#email(type="email" name="email" require="true" placeholder="Email")
            .form-group 
                label(for="password")
                input#password(type="password" name="password" required="true" placeholder="Password")
            .form-group 
                label(for="password_confirm")
                input#password_confirm(type="password" name="password_confirm" required="true" placeholder="Confirm Password")
            button Sign Up
        if errors 
            ul
                each error in errors 
                    li!= error.msg