:root {
  --primary: #17191C;
  --secondary: #441520;
  --tertiary: #222326;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-color: var(--primary);
}

a {
  color: #00B7FF;
}


.message-box {
  background-color: var(--tertiary);
  width: 500px;
}

.title-box {
  background-color: var(--secondary);
}
